#flork2{
text-align: center; background-color: cornflowerblue;
}


.fotodoflork{
 border-radius:100%;
 background-color: cornflowerblue;
}

#FlorkGG{ 
font-size:50px;
font-family: cursive;
font-style: italic;
font-weight: bold;    
}

.historiadoflork{
    border-radius:50px;
}

body{
text-align: center;
text-align: center; background-color: cornflowerblue;
}   


a{
font-size:56px;
font-family: cursive;
font-style: italic;
font-weight: bold;
}
